* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
  border: 0;
}

li {
  text-decoration: none;
}

.loggin-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 94px;
  padding: 0 100px;
}

.loggin-screen img {
  width: 130px;
  height: 92px;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-area input[type="text"] {
  width: 261px;
  height: 54px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #D7D7D7;
}

.input-area button {
  color: #696969;
  font-size: 18px;
  width: 109px;
  height: 45px;
  background-color: #E7E7E7;
  border-radius: 9px;
}

header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 0;
  left: 0;
}

header .logo {
  width: 75px;
  height: 53px;
}

header .persons-icon {
  width: 42.19px;
}

main {
  width: 375px;
  height: calc(100vh - 80px);
  padding-top: 20px;
  background-color: #e5e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main ul {
  display: flex;
  margin-top: 70px;
  padding-bottom: 100px;
  flex-direction: column;
  gap: 4px;
}

main ul .message {
  height: 3rem;
  width: 100%;
  padding: 0 8px;
  background-color: #FFFFFF;
  align-items: center;
  font-size: 14px;
  border-radius: 2px;

  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.message .time {
  color: #AAAAAA;
}

.message .sender,
.receiver {
  font-weight: 700;
}

main ul .message.in-out {
  background-color: #CDCDCD;
}

main ul .message.reserved {
  background-color: #FFDEDE;
}

footer {
  background-color: purple;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
  border: 0;
  height: 30px;
  width: 300px;
  font-size: 18px;

}

footer input::placeholder {
  color: #000000;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.hidden {
  display: none;
}