* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
  border: 0;
  background-color: #FFFFFF;
}

li {
  text-decoration: none;
}

p {
  display: inline;
  align-self: center;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* TELA DE LOGIN */
.loggin-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 94px;
  padding: 0 100px;
}

.loggin-screen img {
  width: 130px;
  height: 92px;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-area input[type="text"] {
  width: 261px;
  height: 54px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #D7D7D7;
}

.input-area button {
  color: #696969;
  font-size: 18px;
  width: 109px;
  height: 45px;
  background-color: #E7E7E7;
  border-radius: 9px;
}

/*CHAT*/
header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header .logo {
  width: 75px;
  height: 53px;
}

header .persons-icon {
  width: 42.19px;
}

main {
  height: 450px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

main ul {
  display: flex;
  margin-top: 700px;
  background-color: #e5e5e5;
  padding-bottom: 100px;
  flex-direction: column;
  gap: 4px;
}

main ul .message {
  height: 3rem;
  width: 100vw;
  padding: 0 8px;
  background-color: #FFFFFF;
  align-items: center;
  font-size: 14px;
  border-radius: 2px;

  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

main ul .message.in-out {
  background-color: #CDCDCD;
}

main ul .message.reserved {
  background-color: #FFDEDE;
}

.message .time {
  color: #AAAAAA;
}

.message .sender,
.receiver {
  font-weight: 700;
}

footer {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
  border: 0;
  height: 30px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 8px;
}

footer p {
  font-size: 14px;
  color: #808080;
}

footer input::placeholder {
  color: #000000;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

/* MENU LATERAL */
aside {
  padding-top: 30px;
  width: 259px;
  height: 100vh;
  background-color: #FFFFFF;
  right: -300px;
  top: 0;
  position: fixed;
  opacity: 0;
  transition: 0.3s linear;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

aside .top {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

aside ul {
  padding-left: 18px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
}

aside ul.contacts-online {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}


aside li {
  display: flex;
  align-items: center;
  gap: 8px;

  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

aside li .left {
  display: flex;
  gap: 10px;
}

aside img {
  width: 21px;
}

aside ion-icon {
  width: 20px;
  height: 20px;
  font-weight: 700;
  color: #28BB25;
}

.show-menu {
  opacity: 1;
  right: 0;
}

.film {
  display: none
}

.on {
  width: 375px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: #000000;
  transition: display 0.5s linear;
  display: initial;
}

/*aux classes */
.hidden {
  display: none;
}